<!DOCTYPE html>
<html>
	<head>
		<title>Python group project</title>
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/intro_styling.css"> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<link rel="stylesheet" href="">
	</head>
	<body>
		<div class="container container-table">
			<div class="row vertical-center-row">
			<div class="text-center col-md-8 col-md-offset-2" style="background:white">
			<div id="logo">
				<img src="">
			</div>
			<div id="intro">
				<img src="../static/images/logo/logo.png" width="40%" height="40%">
				<p><span>Ever want to play with kitten RIGHT THIS INSTANT?</span></p>
				<p>Now you can with Rent A Kitten</p>
				<p>Brighten up your day and others around you with a few clicks.</p><br/>
					<a href="/cats/catView" class="btn btn-info"> Learn More </a>
				</div>
				</div>
			</div>
		</div>
	</body>
</html>