<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .img{
    margin: 3px;
    border: 5px,solid,red;
    display: inline-block;
  }
  </style>
</head>
<body>

<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active" style="width: 80%; margin: auto;">
        <div class="img">
          <a href="/"><img class="img-responsive" src="cat9.png" alt="cat9" width="200" height="200"></a>
        </div>
        <div class="img">
          <a href="/"><img class="img-responsive" src="cat9.png" alt="cat9" width="200" height="200"></a>
        </div>
        <div class="img">
          <a href="/"><img class="img-responsive" src="cat9.png" alt="cat9" width="200" height="200"></a>
        </div>
        <div class="img">
          <a href="/"><img class="img-responsive" src="cat9.png" alt="cat9" width="200" height="200"></a>
        </div>
        <div class="img">
          <a href="/"><img class="img-responsive" src="cat9.png" alt="cat9" width="200" height="200"></a>
        </div>
        <div class="img">
          <a href="/"><img class="img-responsive" src="cat9.png" alt="cat9" width="200" height="200"></a>
        </div class="img">
        <div class="img">
          <a href="/"><img class="img-responsive" src="cat9.png" alt="cat9" width="200" height="200"></a>
        </div>
        <div class="img">
          <a href="/"><img class="img-responsive" src="cat9.png" alt="cat9" width="200" height="200"></a>
        </div>
        <div class="img">
          <a href="/"><img class="img-responsive" src="cat9.png" alt="cat9" width="200" height="200"></a>
        </div>
        <div class="img">
          <a href="/"><img class="img-responsive" src="cat9.png" alt="cat9" width="200" height="200"></a>
        </div>
        <div class="img">
          <a href="/"><img class="img-responsive" src="cat9.png" alt="cat9" width="200" height="200"></a>
        </div>
        <div class="img">
          <a href="/"><img class="img-responsive" src="cat9.png" alt="cat9" width="200" height="200"></a>
        </div>
      </div>

      <div class="item" style="width: 80%; margin: auto;">
         <div class="img">
          <a href="/"><img class="img-responsive" src="cat9.png" alt="cat9" width="200" height="200"></a>
        </div>
        <div class="img">
          <a href="/"><img class="img-responsive" src="cat9.png" alt="cat9" width="200" height="200"></a>
        </div>
        <div class="img">
          <a href="/"><img class="img-responsive" src="cat9.png" alt="cat9" width="200" height="200"></a>
        </div>
        <div class="img">
          <a href="/"><img class="img-responsive" src="cat9.png" alt="cat9" width="200" height="200"></a>
        </div>
        <div class="img">
          <a href="/"><img class="img-responsive" src="cat9.png" alt="cat9" width="200" height="200"></a>
        </div>
        <div class="img">
          <a href="/"><img class="img-responsive" src="cat9.png" alt="cat9" width="200" height="200"></a>
        </div class="img">
        <div class="img">
          <a href="/"><img class="img-responsive" src="cat9.png" alt="cat9" width="200" height="200"></a>
        </div>
        <div class="img">
          <a href="/"><img class="img-responsive" src="cat9.png" alt="cat9" width="200" height="200"></a>
        </div>
        <div class="img">
          <a href="/"><img class="img-responsive" src="cat9.png" alt="cat9" width="200" height="200"></a>
        </div>
        <div class="img">
          <a href="/"><img class="img-responsive" src="cat9.png" alt="cat9" width="200" height="200"></a>
        </div>
        <div class="img">
          <a href="/"><img class="img-responsive" src="cat9.png" alt="cat9" width="200" height="200"></a>
        </div>
        <div class="img">
          <a href="/"><img class="img-responsive" src="cat9.png" alt="cat9" width="200" height="200"></a>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

</body>
</html>